:root{
  --font-primary: "Manrope", sans-serif;

  --font-size: 14px;

  --color-text: ##072635;
  --color-background: #F6F7F8;
  --color-cards: #FFFFFF;

  --color-accent: #01F0D0;
  --color-pink: #E66FD2;
  --color-purple: #8C6FE6;
  --color-grey: #707070;
  --color-light-grey: #EDEDED;
}